body{

    background-color: darkred;
    color: wheat;
}

.result{
    text-align: center;
    margin-top: 20%;
    font-size: 75px;
}

#heading{
    text-align: center;
    margin-top: 3%;
    font-size: 50px;
}

#rules{
    text-align: center;
    font-size: 30px;
}

#playerscore{
    margin-left: 36%;
    margin-top: 3%;
    font-size: 30px;
    display: inline;
}

#computerscore{
    margin-left: 10%;
    font-size: 30px;
    display: inline;
}

.choice{
    margin-top: 5%;
}

#playerchoice{
    margin-left: 35%;
}

#computerchoice{
    margin-left: 9%;
}

.options{
    height: 150px;
    width: 150px;
    margin-top: 5%;
    display: inline;
}

#rock{
    background-color: white;
    text-align: center;
    margin-left: 34%;
}

#paper{
    background-color: white;
    margin-left: 2%;
}

#scissors{
    background-color: white;
    margin-left: 2%;
}

